<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Board</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
	
	var formObj = $("#board");
	
	$("#btnRegister").on("click", function() {
		formObj.attr("action", "/board/register");
		formObj.attr("method", "post");
		formObj.submit();
	});
	
	$("#btnList").on("click", function() {
		self.location = "/board/list";
	});
	
});
</script>
</head>
<body>
<h2>Register</h2>

<form id="board" action="success.html" th:action="@{/board/register}" 
		th:object="${board}" method="POST">
	<table class="table">
		<tr>
			<td>Title</td>
			<td><input type="text" name="title" class="form-control" th:field="*{title}" /></td>
			<td>
				<font color="red">
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
						title의 에러 메시지
					</span>
				</font>
			</td>
		</tr>
		<tr>
			<td>Writer</td>
			<td><input type="text" name="writer" class="form-control" th:field="*{writer}" /></td>
			<td>
				<font color="red">
					<span th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}">
						writer의 에러 메시지
					</span>
				</font>
			</td>
		</tr>
		<tr>
			<td>Content</td>
			<td><textarea name="content" class="form-control" th:field="*{content}"></textarea></td>
			<td>
				<font color="red">
					<span th:if="${#fields.hasErrors('content')}"  th:errors="*{content}">
						content의 에러 메시지
					</span>
				</font>
			</td>
		</tr>
	</table>
</form>

<div>
	<button type="submit" id="btnRegister">등록</button>
	<button type="submit" id="btnList">목록</button>
</div>
</body>
</html>