<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 -->	
<mapper namespace="com.dealim.univ.mapper.BoardMapper">

	<!-- 목록 -->
	<select id="list"
			resultType="com.dealim.univ.domain.Board">
		<![CDATA[
			SELECT	board_no 	AS boardNo
					, expDate
					, sort
					, code
					, cost
					, content
					, reg_date	AS regDate
			FROM	board
			WHERE	board_no > 0
			ORDER BY 	board_no DESC
						, reg_date DESC
		]]>
	</select>
	
	<!-- 읽기 -->
	<select id="read" parameterType="java.lang.Integer"
         resultType="com.dealim.univ.domain.Board">
      SELECT	board_no 	AS boardNo
				, expDate
				, sort
				, code
				, cost
				, content
                , reg_date   AS regDate
      FROM  	board
      WHERE     board_no = #{boardNo}
   </select> 

	<!-- 수정 -->
	<update id="update"
			parameterType="com.dealim.univ.domain.Board">
			UPDATE  board
			SET 	expDate 	= #{expDate}
					, sort	 	= #{sort}
					, code		= #{code}
					, cost		= #{cost}
					, content	= #{content}
			WHERE 	board_no 	= #{boardNo}
	</update> 
	
	<!-- 삭제 -->
	<delete id="delete"
			parameterType="java.lang.Integer">
			DELETE FROM board
			WHERE 	board_no = #{boardNo}
	</delete>
	
	<!-- 등록 -->
	<insert id="create">
		INSERT INTO board
		(
			expDate
			, sort
			, code
			, cost
			, content
		) 
		VALUES
		(
			#{expDate}
			, #{sort}
			, #{code}
			, #{cost}
			, #{content}
		) 
	</insert> 

</mapper>